### Deliverable 2 Challenge

In [1]:
import pandas as pd

In [3]:
# read in the vine_table.csv as a DataFrame
vine_df = pd.read_csv("vine_table.csv")

In [6]:
vine_df.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R2SMZOBU8XC40Z,5.0,0.0,0.0,N,N
1,RMV2PRHL0JYFF,5.0,13.0,15.0,N,N
2,R2FLUFWNKEN2XP,5.0,12.0,12.0,N,N
3,R3ELQEO79BFTU3,5.0,0.0,1.0,N,N
4,R2V5Z367106CRP,3.0,2.0,3.0,N,Y

In [7]:
# 1. filter data and create a new df to retrieve all the rows where 
# the total_votes count is equal to or greater than 20 
vine_filtered_high_votes_df = vine_df[vine_df["total_votes"] >=20]

In [8]:
vine_filtered_high_votes_df.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
15,RYQ1DA2DLM317,3.0,16.0,20.0,N,N
23,RPN1LQNKSWSNV,1.0,16.0,61.0,N,N
33,R370HMS192JCS4,5.0,27.0,28.0,N,N
34,R2WQFN3ISS99J6,5.0,23.0,24.0,N,N
36,R1F4T7XR41ON6Q,5.0,16.0,31.0,N,N

In [12]:
# 2. filter df from Step 1 and create a new df to retrieve all the rows where 
# the number of helpful_votes divided by total_votes is equal to or greater than 50%.
helpful_votes_filtered = vine_filtered_high_votes_df["helpful_votes"]
total_votes_filtered = vine_filtered_high_votes_df["total_votes"]
fifty_percent_helpful_df = vine_filtered_high_votes_df[(helpful_votes_filtered/total_votes_filtered) >= .50]

In [41]:
fifty_percent_helpful_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
15,RYQ1DA2DLM317,3.0,16.0,20.0,N,N
33,R370HMS192JCS4,5.0,27.0,28.0,N,N
34,R2WQFN3ISS99J6,5.0,23.0,24.0,N,N
36,R1F4T7XR41ON6Q,5.0,16.0,31.0,N,N
37,RJOVS4SL7P3QJ,5.0,146.0,157.0,N,N
...,...,...,...,...,...,...
3105460,R6WB9UFPT6UNM,5.0,28.0,34.0,N,N
3105477,R2WPLMMXFO81CP,1.0,52.0,62.0,N,N
3105488,R11W2XGJGYWH22,5.0,24.0,25.0,N,Y
3105495,ROSJIJI86HZA,5.0,68.0,68.0,N,N
3105506,R6TRDKVADH3SB,4.0,19.0,20.0,N,N

In [40]:
# 3. filter df from step 2 to retrieve only rows who are part of the Vine program (paid) 
vine_paid_program_df = fifty_percent_helpful_df[fifty_percent_helpful_df["vine"] == "Y"]
vine_paid_program_df

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase]
Index: []

In [39]:
# 4. filter df from step 2 to retrieve only rows who are not part of the Vine program (unpaid)
unpaid_program_df = fifty_percent_helpful_df[fifty_percent_helpful_df["vine"] == "N"]
unpaid_program_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
15,RYQ1DA2DLM317,3.0,16.0,20.0,N,N
33,R370HMS192JCS4,5.0,27.0,28.0,N,N
34,R2WQFN3ISS99J6,5.0,23.0,24.0,N,N
36,R1F4T7XR41ON6Q,5.0,16.0,31.0,N,N
37,RJOVS4SL7P3QJ,5.0,146.0,157.0,N,N
...,...,...,...,...,...,...
3105460,R6WB9UFPT6UNM,5.0,28.0,34.0,N,N
3105477,R2WPLMMXFO81CP,1.0,52.0,62.0,N,N
3105488,R11W2XGJGYWH22,5.0,24.0,25.0,N,Y
3105495,ROSJIJI86HZA,5.0,68.0,68.0,N,N
3105506,R6TRDKVADH3SB,4.0,19.0,20.0,N,N

In [ ]:
# Determine the total number of reviews, the number of 5-star reviews, 
# and the percentage of 5-star reviews for the two types of review (paid vs unpaid).

In [24]:
# total number of paid reviews
total_paid_reviews = len(vine_paid_program_df)
total_paid_reviews

0

In [25]:
# total number of unpaid reviews
total_unpaid_reviews = len(unpaid_program_df)
total_unpaid_reviews

403807

In [34]:
# total number of paid 5-star reviews
total_paid_five_star = len(vine_paid_program_df[vine_paid_program_df["star_rating"] == 5.0])
total_paid_five_star

0

In [33]:
# total number of unpaid 5-start reviews
total_unpaid_five_star = len(unpaid_program_df[unpaid_program_df["star_rating"] == 5.0])
total_unpaid_five_star

242889

In [35]:
# percentage of 5-star paid reviews 
percentage_paid_reviews = (total_paid_five_star/total_paid_reviews)*100
percentage_paid_reviews

ZeroDivisionError: division by zero

##### There are no paid reviews; therefore, an error occurred. Cell above is equal to 0.

In [38]:
# perecentage of 5-star unpaid reviews
percentage_unpaid_reviews = (total_unpaid_five_star/total_unpaid_reviews)*100
percentage_unpaid_reviews

60.14977452099642